<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="JsonPath" value="C:\Users\rajun\Downloads\bbtech\MC"/>
    <add key="clientRuleFile" value="\clientrules-Google.json"></add>
    <add key="clientFile" value="\benefits_02Dec2018041109.json"></add>
    <add key="clientExcelFile" value="\US Home Sale - Updated Draft 11-28.xlsm"></add>
    <add key="clientRuleExcelFile" value="\sampleBBClientRules - MC.xlsm"/>
    <add key="excelFile" value="\US Home Sale - Executive Updated Draft 11-28.xlsx;\US Home Sale - Updated Draft 11-28.xlsx"/>
    <add key="excelPath" value="C:\Users\rajun\Downloads\bbtech\MC"/>
    <add key="collectionID" value="5beb05c8397af415388c98c2"/>
    <add key="PDFSalutation" value="Cartus is pleased to provide you with the confirmation of your benefit selections below.  A copy of this document is available anytime on CartusOnline® in your Document Library.  If you have any questions, please contact your Cartus Consultant."/>
  </appSettings>
</configuration>